

:host {
  display: grid;
  align-items: center;
  grid-template-columns: 140px 1fr;
  gap: 32px;
  border-bottom: 1px solid var(--light-color);
  padding-bottom: 16px;
  padding-top: 4px;
}

.settings-avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.dropzone {
  border: 1px dashed var(--light-color);
  border-radius: 2px;
  padding: 23px 16px;

  &.fileover {
    border: 1px dashed var(--primary-color);
  }
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-color);
}

.avatar-input {
  display: none;
}

.icon-avatar {
  width: 18px;
  height: 18px;
  margin: 17px;
}

.dropzone-text {
  text-align: center;
}
