
<img
  class="ml16 mb20 logo_mini"
  src="/assets/svg/logo-small.svg"
  alt="logotype"
>

<nav class="mb20">
  <ul class="main-menu-list">
    <li *ngFor="let menuItems of menuItems">
      <a class="menu-item"
      [routerLink]="[menuItems.link]"
      routerLinkActive="active">
        <svg [icon]="menuItems.icon" class="sidebar__icon"></svg>
        <span>{{ menuItems.label }}</span>
      </a>
    </li>
  </ul>
</nav>

<div>
  <p class="medium-text mb20">Подписчики</p>

  @for (profile of subscribers$ | async; track profile.id) {

    <app-subscriber-card
      [profile]="profile"
    ></app-subscriber-card>

  }

  <div class="mt20 to-subscribers">
    <a
      [routerLink]="['search']"
      class="to-subscribers-link medium-text"
    >Все подписчики</a>
    <svg icon="arrow" class="to-subscribers-icon"></svg>
  </div>
</div>


<footer class="sidebar__footer">
  @if (me(); as me) {
    @if (me.avatarUrl) {
      <img
        class="subscriber-avatar"
        [src]="me.avatarUrl | imgUrl"
        alt="your_avatar"
      >
    } @else {
      <img
        class="subscriber-avatar"
        src="/assets/imgs/avatar-placeholder.png"
        alt="your_avatar"
      >
    }
  }
  <div>{{me()?.username}}</div>
  <button class="sidebar__footer__settings">
    <img
      src="/assets/svg/settings.svg"
      alt="Settings"
    >
  </button>
</footer>



