:host {
  display: grid;
  grid-template-columns: 440px 1fr;
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.logo {
  width: 440px;
  display: grid;
  place-items: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.password-eye-btn,
.username-tg-btn {
  position: absolute;
  top: 27%;
  right: 12px;
  transform: translate(-50%);
  background: none;
  border: none;
  cursor: pointer;
}


.password-eye-btn {
  color: #FFFFFFBF;
}

.password-eye-btn.active {
  color: var(--primary-color);
}
